/* Effective stylesheet produced by snapshot save */
body { overflow: visible ! important; }
div#notebook { overflow: visible ! important; }
.ui-widget-content { border: 0px none; }
#save_widget { margin: 0px ! important; }
#header { display: none ! important; }
